This notebook is for comparing outputs from the app to ensure accuracy

In [2]:
import pandas as pd
df = pd.read_csv("transaction_data.csv")
df.sample(10)

,entity_id,degree,small_tx_count,avg_amount,amount_variance,amount_skewness,high_value_ratio,cycle_score,clustering_coeff,tx_freq_variance,...,round_trip_count,in_degree_y,profile_type,agent_id,country_ASIA,country_EU,country_HIGH_RISK,country_US,ml_flag_score,is_anomaly
3200,E3200,5,0,44431.713935,1.144178e+09,0.550089,0.000000,1.894010,0.088889,0.5418,...,0,5,individual_low,40,False,True,False,False,0.200000,1
2992,E2992,3,0,31181.725215,3.704812e+08,0.378674,0.000000,1.922057,0.090909,2.5418,...,0,8,individual_low,12,False,True,False,False,0.000000,0
1398,E1398,5,0,28403.116956,7.847220e+08,0.978460,0.000000,1.872586,0.133333,0.5418,...,0,5,individual_high,74,False,True,False,False,0.000000,0
2000,E2000,5,1,49983.718999,2.524022e+09,0.091022,0.200000,1.917855,0.111111,0.5418,...,0,5,individual_low,58,False,False,False,True,0.000000,0
147,E0147,6,0,28492.847569,2.674281e+08,-0.279296,0.000000,1.940153,0.333333,0.4582,...,0,6,business_large,27,False,True,False,False,0.000000,0
2095,E2095,6,0,48793.419213,1.071993e+09,-0.249501,0.000000,1.941285,0.090909,0.4582,...,0,5,business_small,12,True,False,False,False,0.000000,0
358,E0358,5,0,40252.864684,3.818784e+09,0.931188,0.200000,1.870809,0.511111,0.5418,...,0,5,business_large,72,False,False,True,False,0.000000,0
3560,E3560,4,0,37933.578717,4.617264e+08,0.350765,0.000000,1.917173,0.121212,1.5418,...,0,8,individual_low,24,False,False,False,True,0.000000,0
1653,E1653,5,0,57172.364297,1.898667e+09,-0.087224,0.200000,1.923970,0.377778,0.5418,...,0,5,individual_low,81,False,False,False,True,0.000000,0
2169,E2169,7,0,58735.764550,2.443264e+09,0.098870,0.285714,1.908118,0.036364,1.4582,...,0,4,individual_low,53,False,False,False,True,0.142857,1

In [3]:
df["avg_amount"].mean()

np.float64(48755.84993196801)

In [4]:
df["kyc_risk_score"].sample(10)

3760    0.148417
2267    0.057225
329     0.215187
1024    0.062672
2976    0.296984
1433    0.089648
1561    0.220799
97      0.068313
872     0.053459
3852    0.753193
Name: kyc_risk_score, dtype: float64